body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Layout */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left-panel {
    width: 20%;
    background: #2c3e50;
    color: white;
    padding: 20px;
}

.left-panel button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #3498db;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.left-panel button:hover {
    background: #2980b9;
}

/* RIGHT PANEL */
.right-panel {
    width: 80%;
    padding: 20px;
}

/* GRID */

#grid {
    display: grid;
    grid-template-columns: repeat(2, 80px);  /* 2 columns */
    grid-template-rows: repeat(3, 80px);     /* 3 rows */
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
.cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}

/* COLORS */
.frontier {
    background-color: lightblue;
}

.explored {
    background-color: lightgreen;
}

.current {
    background-color: red;
    color: white;
}

.path {
    background-color: gold;
}

/* DETAILS */
.details {
    border-top: 2px solid #ccc;
    padding-top: 10px;
}

.details p {
    margin: 5px 0;
}